@use "sass:math";

@function color-level($color: $primary, $level: 0) {
	$color-base: if($level > 0, $black, $white);
	$level: abs($level);

	@return mix($color-base, $color, $level * $theme-color-interval);
}

@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);

	$yiq: math.div((($r * 299) + ($g * 587) + ($b * 114)), 1000);

	@return if($yiq >= $yiq-contrasted-threshold, $dark, $light);
}
