.badge > tbody > tr > td {
	display: inline-block;
	padding: $badge-padding-y $badge-padding-x;
	font-size: $badge-font-size;
	font-weight: $badge-font-weight;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $badge-border-radius;
}

// Pill badges
.badge-pill > tbody > tr > td {
	padding-right: .6 * $font-size-base;
	padding-left: .6 * $font-size-base;
	border-radius: 10 * $font-size-base;
}

// Colors
@each $color, $value in $theme-colors {
	.badge-#{$color} > tbody > tr > td {
		@include color-yiq($value);
		background-color: $value;
	}
}

@for $n from 1 through 6 {
	h#{n}, .h#{n} {
		font-size: .75 * heading-size($n);
	}
}
