.card {
	background-color: $card-bg;
	border-radius: $card-border-radius;
	border: $card-border-color solid $card-border-width;
	border-collapse: separate !important;
	width: 100%;
	overflow: hidden;
	& > tbody > tr > td {
		width: 100%;
	}
	.card-body {
		width: 100%;
		& > tbody > tr > td {
			padding: $card-spacer-y $card-spacer-x;
			width: 100%;

			.card-text {
				padding-bottom: $card-spacer-y;
			}
		}
	}
}
