.container {
	width: 100%;

	& > tbody > tr > td > table {
		width: 100%;
		max-width: $container-max-width + $grid-gutter-width;
	}

	.container-inner > tbody > tr > td {
		width: 100%;
		padding: 0 $grid-gutter-width/2;
	}
}

.container-fluid {
	width: 100%;

	& > tbody > tr > td {
		padding: 0 $grid-gutter-width/2;
		width: 100%;
	}
}
