.row,
.row-inset,
.row-fluid {
	width: 100%;
}

.row,
.row-inset {
	table-layout: fixed;
}

// Create column classes
@for $i from 1 through $grid-columns {
	th.col-#{$i},
	th.col-lg-#{$i} {
		width: 100% / $grid-columns * $i;
		min-height: 1px;
		padding-right: $grid-gutter-width / 2;
		padding-left: $grid-gutter-width / 2;
		font-weight: normal;
		box-sizing: border-box;
	}
}

.no-gutters > thead > tr {
	@for $i from 1 through $grid-columns {
		& > th.col-#{$i},
		& > th.col-lg-#{$i} {
			padding-right: 0;
			padding-left: 0;
		}
	}
}
