.hr {
	width: 100%;
	border: 0;
	& > tbody > tr > td {
		width: 100%;
		padding: $hr-padding-y $hr-padding-x;

		& > table {
			width: 100%;

			& > tbody > tr > td {
				border-top: $hr-border-width $hr-border-style $hr-border-color;
				height: 1px;
				width: 100%;
				font-size: 0;
				line-height: 0;
			}
		}
	}
}
