.spacing-container {
	table-layout: fixed;
	width: 100%;

	// RESET SPACING CLASSES TO DEFAULT ZERO
	//*****************************************
	& > tbody > tr > td {
		&.space-left,
		&.space-right {
			width: 0;
			font-size: 0 !important;
			padding: 0 !important;
		}

		&.space-top,
		&.space-bottom {
			@include cellheight(0);
		}
	}

	@each $size, $length in $spacers {

		// SET DEFAULT VALUES FOR ALL DEVICES
		//*****************************************
		&.s-#{$size} > tbody > tr > td {
			&.space-top,
			&.space-bottom {
				@include cellheight($length);
			}

			&.space-left,
			&.space-right {
				width: $length;
			}
		}


		&.sy-#{$size} > tbody > tr > td,
		&.st-#{$size} > tbody > tr > td {
			&.space-top {
				@include cellheight($length);
			}
		}

		&.sy-#{$size} > tbody > tr > td,
		&.sb-#{$size} > tbody > tr > td {
			&.space-bottom {
				@include cellheight($length);
			}
		}

		&.sx-#{$size} > tbody > tr > td,
		&.sl-#{$size} > tbody > tr > td {
			&.space-left {
				width: $length;
			}
		}

		&.sx-#{$size} > tbody > tr > td,
		&.sr-#{$size} > tbody > tr > td {
			&.space-right {
				width: $length;
			}
		}

		// SET VALUES FOR LARGE DEVICES
		//*****************************************
		&.important {
			&.s-lg-#{$size} > tbody > tr > td {
				&.space-top,
				&.space-bottom {
					@include cellheight($length);
				}

				&.space-left,
				&.space-right {
					width: $length;
				}
			}

			&.sy-lg-#{$size} > tbody > tr > td,
			&.st-lg-#{$size} > tbody > tr > td {
				&.space-top {
					@include cellheight($length);
				}
			}

			&.sy-lg-#{$size} > tbody > tr > td,
			&.sb-lg-#{$size} > tbody > tr > td {
				&.space-bottom {
					@include cellheight($length);
				}
			}

			&.sx-lg-#{$size} > tbody > tr > td,
			&.sl-lg-#{$size} > tbody > tr > td {
				&.space-left {
					width: $length;
				}
			}

			&.sx-lg-#{$size} > tbody > tr > td,
			&.sr-lg-#{$size} > tbody > tr > td {
				&.space-right {
					width: $length;
				}
			}
		}
	}
}
