@include mobile() {
	.row-fluid-lg {
		table-layout: fixed !important;
	}

	.row,
	.row-fluid,
	.row-fluid-lg,
	.row-inset {
		@for $i from 1 through $grid-columns {
			.col-#{$i},
			.col-lg-#{$i} {
				//display: inline-block;
			}

			.col-lg-#{$i} {
				width: 100% !important;
			}

			.col-#{$i} {
				width: 100% / $grid-columns * $i !important;
			}
		}
	}
}
