<!-- ALIGN CENTER -->
<table class="mx-auto" align="center">
	<tbody>
	<tr>
		<td>
			<!-- ALIGN CENTER CONTENT -->

			<%- content %>

			<!-- ALIGN CENTER CONTENT -->
		</td>
	</tr>
	</tbody>
</table>
<!-- / ALIGN CENTER -->
