<!-- ALIGN RIGHT -->
<table class="float-right" align="right">
	<tbody>
	<tr>
		<td>
			<!-- / ALIGN RIGHT CONTENT -->

			<%- content %>

			<!-- / ALIGN RIGHT CONTENT -->
		</td>
	</tr>
	</tbody>
</table>
<!-- / ALIGN RIGHT -->
