<!-- ALIGN LEFT -->
<table class="float-left" align="left">
	<tbody>
	<tr>
		<td>
			<!-- ALIGN LEFT CONTENT -->

			<%- content %>

			<!-- / ALIGN LEFT CONTENT -->
		</td>
	</tr>
	</tbody>
</table>
<!-- / ALIGN LEFT -->
