<!-- INNER CONTAINER TEMPLATE -->
<table class="container-inner">
	<tbody>
	<tr>
		<td align="left" class="container-content">
			<!-- INNER CONTAINER CONTENT -->

			<%- content %>

			<!-- / INNER CONTAINER CONTENT -->
		</td>
	</tr>
	</tbody>
</table>
<!-- / INNER CONTAINER TEMPLATE -->
