<table>
	<tbody>
	<tr>
		<td colspan="3" class="space-top">&nbsp;</td>
	</tr>
	<tr>
		<td class="space-left">&nbsp;</td>
		<td>
			<%- content %>
		</td>
		<td class="space-right">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3" class="space-bottom">&nbsp;</td>
	</tr>
	</tbody>
</table>
