<% if(wrapper) { %>
<table align="center" width="100%">
	<tbody>
	<tr>
		<td>
			<% } %>

			<table <%- attributes %>>
				<thead>
				<tr>
					<%- content %>
				</tr>
				</thead>
			</table>

			<% if(wrapper) { %>
		</td>
	</tr>
	</tbody>
</table>
<% } %>
