<table class="row <%= classes %>">
	<tbody>
	<tr>
		<td align="center">

			<!--[if (gte mso 9)|(IE)]>
			<table align="center">
				<tbody>
				<tr>
					<td class="row-container">
			<![endif]-->

			<table align="center" class="row-container">
				<tbody>
				<tr>
					<%- content %>
				</tr>
				</tbody>
			</table>

			<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</tbody>
			</table>
			<![endif]-->
			
		</td>
	</tr>
	</tbody>
</table>
