<% if(wrapper) { %>
<table align="center">
	<tbody>
	<tr>
		<td>
			<% } %>

			<table class="<%= classes %>">
				<thead>
				<tr>
					<%- content %>
				</tr>
				</thead>
			</table>

			<% if(wrapper) { %>
		</td>
	</tr>
	</tbody>
</table>
<% } %>
