<table class="spacing-container">
	<tbody>
	<tr>
		<td class="space-left">&nbsp;</td>
		<td class="space-top">&nbsp;</td>
		<td class="space-right">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="w-100">
			<%- content %>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="space-bottom">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
