<table class="spacing-container">
	<tbody>

	<% if(variables.spaceTop) { %>
		<tr>

			<% if(variables.spaceLeft) { %>
				<td class="space-left">&nbsp;</td>
			<% } %>

			<td class="space-top">&nbsp;</td>

			<% if(variables.spaceRight) { %>
				<td class="space-right">&nbsp;</td>
			<% } %>

		</tr>
	<% } %>

	<tr>
		<% if(variables.spaceLeft) { %>
			<td class="space-left">&nbsp;</td>
		<% } %>

		<td class="w-100">
			<%- content %>
		</td>

		<% if(variables.spaceRight) { %>
			<td class="space-right">&nbsp;</td>
		<% } %>
	</tr>

	<% if(variables.spaceBottom) { %>
		<tr>
			<% if(variables.spaceLeft) { %>
				<td class="space-left">&nbsp;</td>
			<% } %>

			<td class="space-bottom">&nbsp;</td>

			<% if(variables.spaceRight) { %>
				<td class="space-right">&nbsp;</td>
			<% } %>
		</tr>
	<% } %>

	</tbody>
</table>
