<!-- TABLE LEFT -->
<table class="<%= classes %>" align="left">
	<tbody>
	<tr>
		<td>
			<!-- TABLE LEFT CONTENT -->

			<%- content %>

			<!-- / TABLE LEFT CONTENT -->
		</td>
	</tr>
	</tbody>
</table>
<!-- / TABLE LEFT -->
