.container {
	& > tbody > tr > td > table {
		width: 100%;
		max-width: $container-max-width + $grid-gutter-width;
	}

	#{$bte-cls-container-inner} {
		text-align: center;
	}
}

.container-fluid,
.container {
	width: 100%;
}

#{$bte-cls-container-inner} {
	width: 100%;
	padding: 0;
	table-layout: fixed;
}

#{$bte-cls-container-content} {
	width: 100%;
	padding: 0 $grid-gutter-width / 2;
}
