#{$bte-cls-spacing-container} {
	table-layout: fixed;
}

// RESET SPACING CLASSES TO DEFAULT ZERO
//*****************************************
#{$bte-cls-spacing-container} > tbody > tr > td {
	&#{$bte-cls-space-left},
	&#{$bte-cls-space-right} {
		width: 0;
		padding: 0 !important;
		@include cellheight(0 !important);
	}

	&#{$bte-cls-space-top},
	&#{$bte-cls-space-bottom} {
		padding: 0 !important;
		@include cellheight(0);
	}
}

@each $size, $length in $spacers {

	// SET DEFAULT VALUES FOR ALL DEVICES
	//*****************************************
	#{$bte-cls-spacing-container} {
		@include generate_spacings($size, $length);
		@include generate_xl_spacing($size, $length);
	}

	// RESET VALUES FOR SMALL DEVICES
	//*****************************************
	@include mobile() {
		#{$bte-cls-spacing-container} {
			@include generate_xl_spacing($size, 0 !important);

			&#{$bte-cls-spacing-container--important} {
				@include generate_spacings($size, $length !important);
			}
		}
	}
}
