#{$bte-cls-spacing-container} {
	table-layout: fixed;
}

// RESET SPACING CLASSES TO DEFAULT ZERO
//*****************************************
#{$bte-cls-spacing-container} {
	@include generate_spacing_reset(0);
}

@each $size, $length in $spacers {

	// SET DEFAULT VALUES FOR ALL DEVICES
	//*****************************************
	#{$bte-cls-spacing-container} {
		@include generate_spacings($size, $length);
		@include generate_xl_spacing($size, $length);
	}

	// RESET VALUES FOR SMALL DEVICES
	//*****************************************
	@include mobile() {
		#{$bte-cls-spacing-container} {
			@include generate_spacing_reset(0 !important);
			@include generate_xl_spacing($size, 0);
			@include generate_spacings($size, $length !important);
		}
	}
}
