//@import "sass/custom/variables";
@import "sass/variables";
@import "sass/mixins";

//@import "sass/mobile/spacing";
//@import "sass/mobile/grid";

// Forces Outlook.com to display emails at full width
.ExternalClass {
	width: 100%;
}

// Forces Outlook.com to display normal line spacing, here is more on that: http://www.emailonacid.com/forum/viewthread/43/
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height: 150%;
}

a {
	text-decoration: none;
}

img {
	-ms-interpolation-mode: bicubic;
}

@include mobile() {

	// Width
	@each $size, $percentage in $sizes {
		.w-lg-#{$size} {
			width: auto !important;
			& > tbody > tr > td {
				width: auto !important;
			}
		}
	}
	@each $size, $percentage in $sizes {
		.w-#{$size} {
			width: $percentage !important;
			& > tbody > tr > td {
				width: $percentage !important;
			}
		}
	}

	// Text align
	.text-sm-center {
		text-align: center !important;
	}

	.text-sm-left {
		text-align: left !important;
	}

	.text-sm-right {
		text-align: right !important;
	}

	.text-lg-center,
	.text-lg-left,
	.text-lg-right {
		text-align: initial !important;
	}
}
