@include mobile() {
	#{$bte-cls-spacing-container} {
		@each $size, $length in $spacers {

			// RESET LARGE SPACING TO 0 ON SMALL DEVICE
			//*****************************************
			&.s-lg-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-left},
				&#{$bte-cls-space-right} {
					width: 0 !important;
				}

				&#{$bte-cls-space-top},
				&#{$bte-cls-space-bottom} {
					@include cellheight(0 !important);
				}
			}


			&.sy-lg-#{$size} > tbody > tr > td,
			&.st-lg-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-top} {
					@include cellheight(0 !important);
				}
			}

			&.sy-lg-#{$size} > tbody > tr > td,
			&.sb-lg-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-bottom} {
					@include cellheight(0 !important);
				}
			}

			&.sx-lg-#{$size} > tbody > tr > td,
			&.sl-lg-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-left} {
					width: 0 !important;
				}
			}

			&.sx-lg-#{$size} > tbody > tr > td,
			&.sr-lg-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-right} {
					width: 0 !important;
				}
			}
		}

		// SET PROPER PADDING ON SMALL DEVICES
		//*****************************************
		#{$bte-cls-spacing-container}#{$bte-cls-spacing-container--important} {
			&.s-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-left},
				&#{$bte-cls-space-right} {
					width: $length !important;
				}

				&#{$bte-cls-space-top},
				&#{$bte-cls-space-bottom} {
					@include cellheight($length !important);
				}
			}

			&.sy-#{$size} > tbody > tr > td,
			&.st-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-top} {
					@include cellheight($length !important);
				}
			}

			&.sy-#{$size} > tbody > tr > td,
			&.sb-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-bottom} {
					@include cellheight($length !important);
				}
			}

			&.sx-#{$size} > tbody > tr > td,
			&.sl-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-left} {
					width: $length !important;
				}
			}

			&.sx-#{$size} > tbody > tr > td,
			&.sr-#{$size} > tbody > tr > td {
				&#{$bte-cls-space-right} {
					width: $length !important;
				}
			}
		}
	}
}
