<!-- BODY TEMPLATE  -->
<center style="width:100%;">
    <!--[if mso | IE]>
    <table valign="top" class="body" width="100%">
        <tbody>
        <tr>
            <td valign="top">
            <![endif]-->
                <!-- BODY CONTENT -->

                <%- content %>

                <!-- / BODY CONTENT -->

            <!--[if mso | IE]>
            </td>
        </tr>
        </tbody>
    </table>
    <![endif]-->
</center>
<!-- / BODY TEMPLATE  -->
