<!-- BODY TEMPLATE  -->
<table valign="top">
	<tbody>
	<tr>
		<td valign="top">
			<!-- BODY CONTENT -->

			<%- content %>

			<!-- / BODY CONTENT -->
		</td>
	</tr>
	</tbody>
</table>
<!-- / BODY TEMPLATE  -->
