<!-- HR TEMPLATE -->
<table class="hr">
	<tbody>
	<tr>
		<td>
			<table>
				<tbody>
				<tr>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
<!-- / HR TEMPLATE -->
