<table class="bte-spacing-container bte-spacing-container--important">
	<tbody>
	<tr>
		<td class="bte-space-top bte-space-left">&nbsp;</td>
		<td class="bte-space-top">&nbsp;</td>
		<td class="bte-space-top bte-space-right">&nbsp;</td>
	</tr>
	<tr>
		<td class="bte-space-left">&nbsp;</td>
		<td>
			<%- content %>
		</td>
		<td class="bte-space-right">&nbsp;</td>
	</tr>
	<tr>
		<td class="bte-space-bottom bte-space-left">&nbsp;</td>
		<td class="bte-space-bottom">&nbsp;</td>
		<td class="bte-space-bottom bte-space-right">&nbsp;</td>
	</tr>
	</tbody>
</table>
