//*****************************************
// Base Styles
//*****************************************

.alert {
	border-collapse: separate !important;
	border: 0;
	width: 100%;

	& > tbody > tr > td {
		padding: $alert-padding-y $alert-padding-x;
		border: $alert-border-width solid transparent;
		border-radius: $alert-border-radius;
	}
}

.alert-heading {
	color: inherit;
}

.alert-link {
	font-weight: $alert-link-font-weight;
}

//*****************************************
// Alternate Styles
//*****************************************

@each $color, $value in $theme-colors {
	.alert-#{$color} > tbody > tr > td {
		$background: color-level($value, $alert-bg-level);
		$border: color-level($value, $alert-border-level);
		$color: color-level($value, $alert-color-level);

		@include alert-variant($background, $border, $color);

		.hr td {
			border-color: $border;
		}
	}
}
