// TODO: check this, especially pills and color variants

.badge {
	display: inline;
	border: $badge-padding-x solid transparent;
	border-top-width: $badge-padding-y;
	border-bottom-width: $badge-padding-y;
	font-size: $badge-font-size;
	font-weight: $badge-font-weight;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $badge-border-radius;

	&:empty {
		display: none;
	}
}

// Pill badges
.badge-pill {
	padding-right: .6 * $font-size-base;
	padding-left: .6 * $font-size-base;
	border-radius: 10 * $font-size-base;
}

// Colors
@each $color, $value in $theme-colors {
	.badge-#{$color} {
		color: color-yiq($value);
		background-color: $value;
		border-color: $value;
	}
}

@for $n from 1 through 6 {
	h#{n}, .h#{n} {
		font-size: .75 * heading-size($n);
	}
}
