//*****************************************
// Base Styles
//*****************************************

.btn {
	border-radius: $border-radius;
	border-collapse: separate !important;

	& > tbody > tr > td {
		display: inline-block;
		font-weight: $btn-font-weight;
		line-height: $btn-line-height;
		color: $body-color;
		text-align: center;
		white-space: $btn-white-space;
		vertical-align: middle;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
		border: $btn-border-width solid transparent;
		@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
		transition: $btn-transition;

		a {
			color: $body-color;
			text-decoration: none;

			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}

		&:hover {
			color: $body-color;
			text-decoration: none;
		}
	}

	&.disabled > tbody > tr > td {
		pointer-events: none;
		opacity: $btn-disabled-opacity;
		box-shadow: none;
	}
}


//*****************************************
// Alternate Buttons
//*****************************************

@each $color, $value in $theme-colors {
	.btn-#{$color} {
		@include button-variant($value, $value);
	}

	.btn-outline-#{$color} {
		@include button-outline-variant($value);
	}
}


//*****************************************
// Button Sizes
//*****************************************

.btn-lg {
	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}


//*****************************************
// Block Buttons
//*****************************************

.btn-block {
	width: 100%;
}
