.btn {
  border-radius: $border-radius;
  border-collapse: separate !important;
}

.btn td {
  border-radius: $border-radius;
  text-align: center;
}

.btn td a {
  font-size: $font-size-base;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  line-height: $btn-line-height;
  border: $btn-border-width solid $btn-border-color;
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} td {
    background-color: $value;
  }
  .btn-#{$color} td a {
    background-color: $value;
    @include color-yiq($value);
    border-color: $value;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} td {
    background-color: transparent;
    border-color: $value;
  }
  .btn-outline-#{$color} td a {
    background-color: transparent;
    border-color: $value;
    color: $value;
  }
}

.btn-sm td a {
  font-size: $btn-font-size-sm;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  line-height: $btn-line-height-sm;
  border-radius: $btn-border-radius-sm;
}

.btn-lg td a {
  font-size: $btn-font-size-lg;
  padding: $btn-padding-y-lg $btn-padding-x-lg;
  line-height: $btn-line-height-lg;
  border-radius: $btn-border-radius-lg;
}
