h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: $headings-font-weight;
	font-family: $headings-font-family;
	color: inherit;
	text-align: left;
	vertical-align: baseline;
}

@for $n from 1 through 6 {
	h#{$n}, .h#{$n} {
		font-size: heading-size($n);
		line-height: heading-line-height($n);
	}
}

@for $n from 1 through 4 {
	.display-#{$n} {
		font-size: map-get($display-sizes, $n);
		font-weight: $display-weight;
		line-height: $display-line-height;
	}
}

.text-left,
.text-lg-left {
	text-align: left !important;
}

.text-right,
.text-lg-right {
	text-align: right !important;
}

.text-center,
.text-lg-center {
	text-align: center !important;
}

p, .p {
	width: 100%;

	& > tbody > tr > td {
		margin: 0;
		padding: 0 0 $font-size-base * 1.25 0;
		& > p {
			margin: 0;
			padding: 0;
		}
	}
}

a {
	color: $link-color;
	text-decoration: $link-decoration;
	background-color: transparent;
}

.lead {
	font-size: $lead-font-size;
	font-weight: $lead-font-weight;
}

small,
.small {
	font-size: $small-font-size;
	font-weight: $small-font-weight;
}
